<h1>Stupid Coaching</h1>
<div class="your-question">
<p> <%= @question %></p>
<p class="you"> -You </p>
</div>

<div class="coach-answer">
<% if @question == 'I am going to work' %>
<p><%= 'Great!' %></p>
<% elsif @question.include?('?') %>
<p><%= 'Silly question, get dressed and go to work!' %> </p>
<% else %>
<p><%= "I don't care, get dressed and go to work!" %> </p>
<% end %>
<p class="coach"> -Your coach </p>

<%= link_to "Ask a new question", "/ask" %>
</div>
